/* Basic Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #373a36;
  }
  
  /* Navbar Styling */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #373a36;
    padding: 15px 30px;
  }
  
  .navbar .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar .links a {
    margin-left: 15px;
  }
  
  /* Add any other general styles you need */
